@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Montserrat:wght@300;400;500;600&display=swap');

:root {
  --pry: #db6b8d;
  ---sec: #d6dec3;
  --dark: #000;
  --light: #fff9e8;
  --error: #eb4405;
  --mont: 'Montserrat', sans-serif;
  --gela: 'Gelasio', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: var(--mont);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(---sec);
  padding: 20px 35px;
  margin: 0 0 20px;
}

header h1{
  color: var(--dark);
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header ul li a {
  color: var(--dark);
  margin: 0 10px;
  font-size: 1.5rem;
  transition: 0.3s all ease;
}

header ul li a:hover {
  color: var(--pry);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.search {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid var(--dark);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.search input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.search button {
  width: 5%;
  height: 100%;
  background: transparent;
  color: var(---dark);
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.search button:hover {
  transform: scale(1.3);
  color: var(--pry);
}

.result {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.date {
  padding: 5px 40px;
  font-weight: 600;
}

.date span, .time span {
  color: var(--pry);
}

.location {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.location span {
  margin: 0 10px;
  color: var(--pry);
}

.time {
  padding: 5px 40px;
}

.flex {
  width: 80%;
  display: flex;
  padding: 10px 0;
}

.flex h1 {
  font-family: var(--gela);
  font-size: 9rem;
}

.flex p {
  color: var(--pry);
  font-weight: 600;
}

.flex img {
  width: 70%;
}

.details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: var(--dark);
  padding: 10px 30px;
}

.details div {
  width: 50%;
  height: 50px;
  text-align: center;
  margin: 10px 0;
}

.details div p {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(---sec);
}

.details div span {
  color: var(--pry);
}

@media screen and (max-width: 600px) {
  header {
    font-size: 0.7rem;
    padding: 20px 5px;
  }

  header ul li a {
    font-size: 1.1rem;
  }

  .search {
    width: 100%;
  }

  .result {
    width: 100%;
  }

  .location {
    font-size: 1.3rem;
  }

  .time {
    padding: 5px 10px;
  }

  .flex {
    width: 100%;
  }

  .flex h1 {
    font-size: 5rem;
  }

  .details{
    padding: 10px 0;
  }

  .details div p {
    font-size: 1.2rem;
  }
}